#header{
    background-color: #BC3CBC;
    color:white;
    padding:30px;
}

button{
    background-color: #368BC1;
    color:white;
}

#container{
    background-color:#E9CFEC;
    font-family: Arial;
    font-size: 14px;
}
    