#header{
    background-color: #BC3CBC;
    color:white;
    padding:20px;
    font-family: Verdana;
}

button{
    background-color: #368BC1;
    border-radius: 8px;
    color: white;
    text-align: center;
    display: inline-block;
    font-size:  15px !important;
    padding: 10px 20px !important;
}

#container{
    background-color:#E9CFEC;
    font-family: Verdana;
    font-size: 16px;
    padding:5px;
}
    